<%- include('partials/header'); %>
  
  <div class="home__hero">
    <div class="row container">
      <div class="col m6 s12 home__heroBody">
        <h1 class="deep-purple-text text-lighten-1">
          Sharing URLs, simplified!
        </h1>
        <p>
          Convert complex URLs into simpler ones that can be easily shared over the internet
        </p>

        <form id="home__heroForm" class="home__heroForm" action="">
          <input name="long-url" type="text" class="browser-default" placeholder="Place a URL to shrink"/>
          <button type="submit" class="browser-default">Shrink</button>
        </form>
      </div>
      <div class="col m5 offset-m1 s12 home__heroImage">
        <div class="card">
          <div class="card-content">
            <img class="responsive-img" src="/img/banner-background.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const heroForm = document.querySelector('#home__heroForm');

    heroForm.addEventListener('submit', (e) => {
      e.preventDefault();
      let longUrl = e.target['long-url'].value;
      console.log(longUrl);
      
      heroForm.reset();
    })

  </script>

<%- include('partials/footer'); %>