@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  font-size: 16px;
}

body{
  background-color: #fafafa;
}

.container{
  width: 85% !important;
}

.home__hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__heroBody h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #6C63FF;
}

.home__heroBody p {
  font-size: 1.4rem;
  color: #2f3640;
}

.home__heroForm{
  width: 100%;
  margin-top: 30px;
}

.home__heroForm input{
  width: 70% !important;
  height: 40px;
  font-size: 16px !important;
  font-family: "Quicksand";
  padding: 0px 20px;
}

.home__heroForm button{
  width: 20%;
  height: 40px;
  border: none;
  background-color: #7e57c2;
  color: white;
  font-size: 16px !important;
  font-family: "Quicksand";
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  margin-left: 0px !important;
}

.home__heroImage .card{
  background-color: #fafafa;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  border-radius: 10px;
}

@media screen and (max-width : 600px){
  .home__heroForm{
    margin-bottom: 30px;
  }

  .home__heroForm input {
    display: block;
    width: 100% !important;
  }

  .home__heroForm button{
    margin-top: 20px;
    width: 100%;
  }
}


